nav {
  width: 100%;
  //height: 9vh;
  display: flex;
  flex-direction: column;
  .upperNav {
    display: flex;
    flex-direction: row;
    //justify-content: flex-start;
    height: 9vh;
    align-items: center;
    padding-left: 10%;
    font-weight: 350px;
    .logo {
      margin-top: 1.2%;

      img {
        width: 45%;
        margin-left: 30%;
      }
      width: 15%;
      //background: cyan;
    }

    .clg-name {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      margin-left: 0.3%;
      font-size: 0.9rem;
      //background: chocolate;
      color: #25477a;
      .tpoFont {
        color: #58695d;
      }
      h1 {
        margin: 0;
        padding: 0;
      }
      h2 {
        margin: 0;
        padding: 0;
      }
    }
  }

  .nav-links {
    top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background: #25477a;
    min-height: 5vh;
    a {
      color: white;
      font-weight:450;
      font-size: 0.8rem;
      &:hover {
        color: rgb(201, 201, 245);
      }
      z-index: 7;
    }
    .home {
      color: #a8d6fc;
      font-weight: 500px;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
  margin-left: 6rem;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(238, 20, 20);
  margin: 5px;
  margin-left: 2rem;
  transition: all 0.3s ease;
}
@media screen and (max-width:1186px) and (min-width:838px){
  body {
    overflow-x: hidden;
  }
  nav{
    .upperNav{
      align-items: center;
      height: 5vh;
      .clg-name{
        padding-top: 0.6rem;
        font-size: .55rem;
      }
  
      .logo{
        margin-left: -3rem;
        margin-right: 2rem;
        img{
          padding-top: 0.2rem;
          width: auto;
          height: 50px;
          object-fit: cover;
          //object-position: bottom;
        }
      }
    }
    .nav-links{
      height: auto;
    }
  }

  
}

@media screen and (max-width: 835px) and (min-width:503px) {
  body {
    overflow-x: hidden;
  }
  nav{
    .upperNav {
      text-align: center;
      background: rgb(193, 203, 223);
      height: auto;
      .clg-name{
        font-size: 60%;
      }
    }
  }
  
  .logo {
    margin-left: -3rem;
    margin-right: 2rem;

    img {
      min-height: 40px;
      min-width: 55px;
      
    }
  }
  nav {
    .nav-links {
      background: rgb(97, 97, 167);
    }
  }

  nav {
    ul {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      position: fixed;
      left: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background: #be3e3e;
      width: 50%;
      height: 100%;
      //overflow: auto;
      -webkit-transition: left 0.4s;
      -o-transition: left 0.4s;
      transition: left 0.4s;
      align-items: center;
      font-size: 90%;
      li {
        a {
          padding: 10px;

          height: auto;
          line-height: normal;
          color: #555555;
        }
        
        .home {
          margin-top: 2rem;
          font-size: 1.2rem;    
        }
      }
    }

    .burger {
      display: block;
      z-index: 5;
    }
  }
}

@media screen and (max-width: 502px) {
  body {
    overflow-x: hidden;
  }
  nav{
    .upperNav {
      text-align: center;
      background: rgb(193, 203, 223);
      height: auto;
      .clg-name{
        font-size: 40%;
      }
    }
    .logo {
      margin-left: -3.2rem;
      margin-right: 2.25rem;
      img{
        min-height: 40px;
        min-width: 55px;
        padding-left: 0.3rem;
      }
    }
  }
  
  nav {
    .nav-links {
      background: rgb(97, 97, 167);
    }
  }

  nav {
    ul {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      position: fixed;
      left: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background: #be3e3e;
      width: 60%;
      height: 100%;
      overflow: auto;
      -webkit-transition: left 0.4s;
      -o-transition: left 0.4s;
      transition: left 0.4s;
      align-items: center;
      li {
        align-items: center;
        margin-right: 30%;
        .home {
          margin-top: 2rem;
          font-size: 1rem;
        }
      }
    }

    .burger {
      display: block;
      z-index: 5;
      padding-right: 0.6rem;
      margin-left: 1rem;
    }
  }
}

.nav-active {
  //transform: translateX(0%);
  left: 50%;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
