.header {
    text-align: center;
    color: white;
  }
  h1{
    font-size: 3em;
  }
  
  .container{
    margin: auto;
    width: 500px;
    height: 300px;
    text-align: center;
    border: 3px solid white;
    border-radius: 25px;
    transition: transform .2s;
  }
  
  .container:hover{
    transform:scale(1.1);
    cursor: pointer;
  }
  
  input{
    display: inline-block;
    width:80%;
    height: 15%;
    margin: 8px 0;
    padding: 8px,10px;
    background-color: white;
    color: black;
    border:1px solid white;
    box-sizing: border-box;
  }
  
  .labeltext{
    margin-left: 15px;
    font-size: 30px;
  }
  
  button{
    width: 110px;
    height: 40px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: rgba(50, 72, 202, 0.932);
    color: white;
    cursor: pointer;
    font-size: 25px;
  }
  
  button:hover{
    opacity: 0.8;
  }